.main-container.green .header-container .nav li {
  background-color: #418041;
}
.main-container.green .header-container .nav li.active {
  background-color: orange;
}
.main-container.green .header-container .weather .content {
  color: #418041;
}
.main-container.green .card .card-tabs .ui-tabs-nav a {
  border-color: #418041 !important;
}
.main-container.green .card .card-tabs .ui-widget-header {
  border-bottom: 1px solid #418041;
}
.main-container.green .card .ui-state-active,
.main-container.green .card .ui-widget-content .ui-state-active,
.main-container.green .card .ui-widget-header .ui-state-active,
.main-container.green .card a.ui-button:active,
.main-container.green .card .ui-button:active,
.main-container.green .card .ui-button.ui-state-active:hover {
  border: 1px solid #418041;
  background: #418041;
  font-weight: normal;
  color: #ffffff;
}
.main-container.green .content-2 .left .card-list .row button {
  color: #418041;
  background-color: #b7dbb7;
}
