@base: #418041;
@base2: #b7dbb7;
@activeColor: orange;

// 首页主容器div
.main-container.green {
	.header-container {
		.nav li {
			background-color: @base;

			&.active {
				background-color: @activeColor;
			}
		}

		.weather .content {
			color: @base;
		}
	}

	.card {
		.card-tabs {
			.ui-tabs-nav {
				a {
					border-color: @base !important;
				}
			}

			.ui-widget-header {
				border-bottom: 1px solid @base;
			}
		}

		.ui-state-active,
		.ui-widget-content .ui-state-active,
		.ui-widget-header .ui-state-active,
		a.ui-button:active,
		.ui-button:active,
		.ui-button.ui-state-active:hover {
			border: 1px solid @base;
			background: @base;
			font-weight: normal;
			color: #ffffff;
		}
	}

	.content-2 {
		.left {
			.card-list {
				.row {
					button {
						color: @base;
						background-color: @base2;
					}
				}
			}
		}
	}
}
