.content-container {
	.content-1 {
		height: 300px;

		.left {
			float: left;
			position: relative;
			width: 34%;
		}

		.center {
			float: left;
			position: relative;
			width: 33%;

			.content {
				margin: 0 auto;
				width: 94%;
			}
		}

		.right {
			float: left;
			position: relative;
			width: 33%;
		}
	}

	.divide-img {
		width: 100%;
		position: relative;
		margin: 8px 0;

		img {
			width: 100%;
		}
	}

	.content-2 {
		height: 586px;

		.left {
			float: left;
			position: relative;
			width: 28%;
			height: 100%;
			background-color: #fff;

			.row {
				overflow: hidden;
				&.top {
					height: 292px;
				}

				&.middle {
					height: 230px;
				}

				&.bottom {
					height: 230px;
				}
			}
		}

		.right {
			float: left;
			position: relative;
			width: 72%;
			height: 100%;

			.row {
				position: relative;
				width: 100%;
				height: 50%;

				.col-2 {
					float: left;
					position: relative;
					width: 50%;
					height: 100%;
				}
			}
		}
	}

	.content-3 {
		height: 868px;

		.left {
			float: left;
			position: relative;
			width: 28%;
			height: 100%;
			background-color: #fff;

			.row {
				overflow: hidden;
				&.top {
					height: 292px;
				}

				&.middle {
					height: 285px;
				}

				&.bottom {
					height: 230px;
				}
			}
		}

		.right {
			float: left;
			position: relative;
			width: 72%;
			height: 100%;

			.row {
				position: relative;
				width: 100%;
				height: 33.3%;

				.col-2 {
					float: left;
					position: relative;
					width: 50%;
					height: 100%;
				}
			}
		}
	}
}
