<div class="header-container">
    <div class="weather">
        <span class="content">今天天气是：2017年7月13日 星期四  晴</span>
    </div>
    <div class="search">
        <div class="search-group">
            <input>
            <button>搜索</button>
        </div>
       
    </div>
    <ul class="nav">
        <li><a href="">首页</a></li>
        <li><a href="">关于本院</a></li>
        <li><a href="">综合受理</a></li>
        <li><a href="">法规查询</a></li>
        <li><a href="">新法速递</a></li>
        <li><a href="">下载中心</a></li>
        <li><a href="">电话簿</a></li>
        <li><a href="">教育培训</a></li>
    </ul>
</div>